In [3]:
a=[34,56,"rohit",58.9,("shyam","house")]

In [4]:
type(a)

list

In [23]:
a=["google",87.98,23456,"riya",(1,2,3,4,5),0.0,"python",4,9,90]
for val1 in zip(a):
    print(val1)

('google',)
(87.98,)
(23456,)
('riya',)
((1, 2, 3, 4, 5),)
(0.0,)
('python',)
(4,)
(9,)
(90,)

In [24]:
for val1 in a:
    print(type(val1))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
a=[3,9,12,15,18,40,30,27,21,28,60,90,67,100,25,70,74,56,62,33,36,42,45,65,51]

In [30]:
for i in a:
    if i%3==0:
        print(i)

TypeError: 'int' object is not iterable